---
import { shareConfig } from "@/config";
import SharePage from "@components/share/SharePage";
import MainGridLayout from "../../layouts/MainGridLayout.astro";
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
---

<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
	<div
		class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
	>
		<div class="card-base z-10 p-4 relative w-full">
			<SharePage data={shareConfig} client:load />
		</div>
	</div>
</MainGridLayout>
