---
import Live2DWidget from "./Live2dWidget.astro";
import MetingPlayer from "./MetingPlayer.vue";
import StarCard from "./StarCard.vue";
---

<div id="customized">
  <MetingPlayer client:load />
  <StarCard client:load />
  <Live2DWidget />
</div>
